<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="ui inverted vertical footer segment" th:fragment="footer">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divide·d grid">

            <div class="column">
                <h4 class="ui inverted header"></h4>

                <p><i class="qq icon"></i>QQ交流：1791482634</p>
                <p><i class="weixin icon"></i>微信：xx1791482634</p>
                <p><i class="envelope outline icon"></i>联系邮箱</p>
                <p><i class="github alternate icon"></i>github</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51180202511943">川公网安备 51180202511943号</a>
            <a href="#" class="item">蜀ICP备20004137-1</a>


        </div>
    </div>
</div>
</body>
</html>