<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>article</title>
    <link rel="stylesheet" th:href="@{static/css/semantic.min.css}">

</head>

<body>
<div th:insert="conponents/header::header"></div>
<div th:insert="conponents/header::pheader"></div>

<!-- 文章列表 -->
<div class="ui container">
    <div th:insert="conponents/header::head"></div>
    <hr>
    <div th:each="m:${articles}" class="ui divided items">
        <div class="item">

            <div class="content">
                <a class="header" th:href="@{article/{id}(id=${m.getId()})}">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;" th:text="${m.getTitle()}"></font>
                    </font>
                </a>
                <div class="meta">
                    <span class="cinema"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;" th:text="${m.getContext()}">null</font></font></span>
                </div>
                <div class="description">
                    <p></p>
                </div>
                <div class="extra">
                    <div class="ui label">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;" th:text="${m.getType()}">IMAX</font>
                        </font>
                    </div>
                    <div class="ui label"><i class="globe icon"></i>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;" th:text="${m.getLaguage()}"> 其他语言</font>
                        </font>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 页码 -->
    <div class="ui borderless menu">
        <a class="item">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">1 </font>
            </font>
        </a>
        <a class="item">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">2 </font>
            </font>
        </a>
        <a class="item">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">3 </font>
            </font>
        </a>
        <a class="item">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">4 </font>
            </font>
        </a>
        <a class="item">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">5 </font>
            </font>
        </a>
        <a class="item">
            <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">6</font>
            </font>
        </a>
    </div>
</div>
<div th:insert="conponents/footer"></div>


</body>

</html>